#logo .car_top {
  height: 100px;
  line-height: 100px;
  margin: 30px 100px 0 0;
}

#carmain .car_word {
  height: 35px;
  font: 400 16px/35px "Microsoft YaHei";
}

#carmain .car_none {
  text-align: center;
  padding: 100px 0;
}

#carmain .car_none img {
  width: 80px;
}

#carmain .car_none p {
  font: 400 14px/60px "Microsoft YaHei";
}

#carmain .car_none p a {
  color: #abd13e;
  text-decoration: underline;
}

#carmain .car_have {
  display: none;
}

#carmain .bar-left {
  float: left;
  color: #000;
}

#carmain .bar-left p {
  float: left;
  height: 50px;
  line-height: 56px;
}

#carmain .bar-left #del_all {
  margin-left: 50px;
}

#carmain .bar-left #del_all a {
  display: block;
  color: #000;
}
